
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background:burlywood;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}



.nav a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

.nav a:hover {
  color: #0073e6;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 60px 40px;
}

.profile-img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
}

.hero-text h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.hero-text h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #444;
}

.hero-text p {
  max-width: 450px;
  color: #555;
}

/* BUTTONS */
.buttons a {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px 10px 0 0;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

.green { background: #bff751; }
.orange { background: #f7a11b; }
.blue { background: #80c6e6; }
.grey { background: #ddd6d6; }

/* ABOUT */
.about, .skills, .projects, .contact {
  padding: 60px 40px;
  background-color: bisque;
}

.about p {
  max-width: 700px;
}

/* SKILLS */
.skill-boxes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skill {
  padding: 12px 20px;
  background: #f3f3f3;
  border-radius: 10px;
}

/* PROJECTS */
.project-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color:lemonchiffon;
}

.project-link {
  color: #0073e6;
  text-decoration: none;
}

/* CONTACT */
.contact p {
  font-size: 18px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
  margin-top: 40px;
}